# This file lists reviewers that are auto-assigned when a pull request modifies
# certain files or directories.

# By default, both the ATfE and ATfL teams are assinged as reviewers. This is
# particularly relevant for downstream changes to LLVM code.
# Changes to each toolchain's specific directories are assigned to the relevant
# team only.
* @arm/arm-toolchain-embedded @arm/arm-toolchain-linux
/arm-software/embedded/ @arm/arm-toolchain-embedded
/arm-software/linux/ @arm/arm-toolchain-linux
